<!--- this is for homepage -->
<html>
{{#each foo}}
{{this}}
{{/each}}
<head>
<h1>Corvallis' Littlest Pet Shop</h1>
    <div class="topnav">
        <a href='/'>Home</a>
        <a href='/homepage'>Add Adoption and Aisle</a>
        <a href='/animal'>Animals</a>
        <a href='/supplies'>Supplies</a>
        <a class="active" href='/transactions'>Transactions</a>
    </div>
</head>
<body>
    <h2>Here you can add new transactions and find the itemized reciepts</h2>
    <h3>New transaction:</h3>
    <form id="addtrans" action="/transactions/addtrans" method="post">
        Customer Name: <input type="text" name="cname"><br>
        Purchase type: <select name="type">
            <option value="animal">Animal</option>
            <option value="supply">Supply</option>
        </select><br>
        ID of : <input type="number" name="item"><br>
        <input type="submit" value="Submit">
    </form>
    <form id='search_transactions' action='/transactions/search_transactions' method='get'>
        <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> Search for transactions by customer name:</label>
        <input id='cname_search_string' type='text' name='cname_search_string' value=''>
        <input type="button" value="Search" onclick="searchTransactionsByCame()">
    </form>
    <table style="width:100%">
        <thead ALIGN=LEFT>
            <th>Transaction/Adoption ID</th>
            <th>Customer Name</th>
            <th>item</th>
        </thead>
        <tbody>
            {{#each transactions}}
            <tr>
                <td>{{ID}}</td>
                <td>{{Name}}</td>
                <td>{{Item}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h2>You can help customers return supplies but they CANNOT return animals!</h2>
    <h3>Enter the information of the item being returned below:</h3>
    <form id="returnsupply" action="/transactions/returnsupply" method="post">
        Transaction ID: <input type="number" name="transaction_id"><br>
        Customer Name: <input type="text" name="cname"><br>
        Supply Name: <input type="text" name="bname"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
